*               text eol=lf

*.png           binary

*.md            diff=markdown
*.mrconfig      linguist-language=ini diff=ini

/.github        export-ignore
/docs           export-ignore
/tests          export-ignore
/CHANGELOG.md   export-ignore
